.quote {
	background-color: var(--cardBG);
	color: white;
	border-radius: 6px;
	padding: 1rem;
	margin: 3rem auto;
	width: 90%;
	max-width: 40rem;
}

.quote p {
	font-size: 1.8rem;
}

.quote figcaption {
	font-style: italic;
	font-size: 1.5rem;
	text-align: right;
	color: #97dffc;
}
