.item {
	color: #4a5555;
	font-size: 1.25rem;
	/* padding: 0.2rem; */
	text-align: left;
	border-bottom: 2px solid teal;
}

.item p {
	padding: 0 1rem;
}

@media (min-width: 600px) {
	.item {
		text-align: center;
	}
}
