:root {
	--primaryBG: rgb(15 23 26);
	--primaryTxt: rgb(208, 207, 207);
	--secondary: rgb(35 50 56);
	--hoverBG: rgb(5 68 71);
	--hoverTxt: rgb(220, 219, 219);
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	background-color: #f0f0f0;
}

.centered {
	margin: 3rem auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.focused {
	font-size: 3rem;
	font-weight: bold;
	color: white;
}

.btn {
	text-decoration: none;
	background-color: rgb(10 30 37);
	color: white;
	border-radius: 4px;
	padding: 0.75rem 1.5rem;
	border: 1px solid rgb(10 30 37);
	cursor: pointer;
}

.btn:hover,
.btn:active {
	background-color: rgb(5 68 71);
	border-color: rgb(5 68 71);
}

.btn:disabled {
	background-color: #a7a7a7;
	border-color: #a6a6a6;
	color: rgb(235, 235, 235);
	cursor: not-allowed;
	opacity: 0.2;
}

.btn--flat {
	cursor: pointer;
	font: inherit;
	color: var(--primaryBG);
	border: none;
	background-color: none;
	text-decoration: none;
	padding: 0.75rem 1.5rem;
	border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
	background-color: var(--hoverBG);
	color: var(--hoverTxt);
}

@media (max-width: 480px) {
	.btn {
		font-size: 0.8rem;
	}
}

@media (min-width: 481px) {
	.btn {
		font-size: 1rem;
	}
}

@media (min-width: 1000px) {
	.btn {
		font-size: 1.2rem;
		width: 12rem;
		padding: 1rem 1.5rem;
	}
}
